<ul class="nav justify-content-center p-2 m-2">
  <li class="nav-item">
    <a class="nav-link fs-4" href="/">Main</a>
  </li>
  <li class="nav-item">
    <a href="/services" class="nav-link fs-4">Services</a>
  </li>
  <li class="nav-item">
    <a href="/tools" class="nav-link fs-4">Tools</a>
  </li>
  <li class="nav-item">
    <a href="/projects" class="nav-link fs-4">Projects</a>
  </li>
  <li class="nav-item">
    <a href="/blog" class="nav-link fs-4">Blog</a>
  </li>
  <li class="nav-item">
    <a href="/contacts" class="nav-link fs-4">Contacts</a>
  </li>
</ul>
